# 配置 npm 的默认镜像源
# taobao = 'https://registry.npm.taobao.org'
# huawei = 'https://mirrors.huaweicloud.com/repository/npm/'
# tengxun = 'http://mirrors.cloud.tencent.com/npm/'



registry = 'https://mirrors.huaweicloud.com/repository/npm/'