.brr {
  border-radius: var(--el-border-radius-big);
}

.flex-box {
  display: flex;
  height: 550px;

  .photo-detail {
    height: 100%;
    display: flex;
    flex-direction: column;

    .preview-photo {
      width: 300px;
      height: 200px;
    }

    .photo-discription {
      height: 130px;
    }
  }

  .upload-area {
    .header {
      text-align: center;
      font-size: 20px;

    }

    :deep(.attribute-classify) {
      display: flex;

      .el-input {
        .el-input__wrapper {
          height: 38px;
        }
      }

      .classification {
        .el-input__wrapper {
          width: 120px;
        }
      }
    }

    .photos-display {
      padding-left: 14px;
      height: 300px;
      position: relative;
      overflow: auto;

      .hold-case {
        display: flex;
        flex-wrap: wrap;

        .hold-box {
          width: 74px;
          height: 74px;
          margin: 5px;
          box-sizing: border-box;
          border: 1px dashed var(--el-border-color-lighter);
        }
      }

      .image-case {
        display: flex;
        flex-wrap: wrap;
        position: absolute;

        .image-box {
          position: relative;
          width: 84px;
          height: 84px;
          padding: 2px;
          box-sizing: border-box;
          border: 2px solid transparent;

          &.isFocus {
            border: 2px solid var(--el-color-danger-dark);
          }

          .close-button {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 2px solid rgba(255, 255, 255);
            background-color: rgba(145, 145, 145, 0.5);
            color: rgba(255, 255, 255);
            position: absolute;
            top: 6px;
            right: 6px;
            z-index: 1;

            &:hover {
              border: 2px solid rgba(255, 255, 255, 0.8);
              background-color: rgba(145, 145, 145, 0.8);
              color: rgba(255, 255, 255, 0.8);
            }
          }

          .image-photo {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .upload-photo {
      &.drag {
        :deep(.el-upload-dragger) {
          background-color: #fcf2f6;
          border: 2px dashed var(--el-border-color-darker);
          transition-duration: 0;
          transition-property: background-color, border;
        }
      }

      :deep(.el-upload-dragger) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100px;
        /* pointer-events:none;的时候这样drag进去遇到子元素则不会触发事件，但不触发也会有问题*/


        border-radius: var(--el-border-radius-big);
        background-color: var(--el-fill-color);
        border: 2px dashed var(--el-border-color);
        transition-duration: var(--el-transition-duration);
        transition-property: background-color, border;

        &:hover {
          background-color: var(--el-color-primary-light-9);
          border: 2px dashed var(--el-border-color-darker);
          transition-duration: var(--el-transition-duration);
          transition-property: background-color, border;
        }

        .dragenter {
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--el-text-color-primary);

          .release-tips {
            font-weight: bold;
          }
        }

        .dragleave {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .upload-text {
          color: var(--el-text-color-primary);
          font-size: 14px;
          font-weight: bold;

          .highlight {
            color: var(--el-color-danger-dark);
            text-decoration: underline;
          }
        }

        .upload-tips {
          font-weight: lighter;
          font-size: 12px;
          color: var(--el-text-color-regular);
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      padding: 0 8px;

      .cc-button {
        border-radius: var(--el-border-radius-big);
      }

      .confirm {
        color: #fff;
      }
    }
  }
}